.naverhead .head{
  width: 100%;
  height: 300px;
  background-color: orange;
}

.naverhead .head .sub-head {
  width: 2500px;
  height: inherit;
  background-color: bisque;
  margin-left: 0;
  margin: 0 auto;
}

.content .parent-content {
  width: 2500px;
  height: 2500px;
  background-color: aqua;
  margin: auto;
  display: flex;
  justify-content: center;
}

.content .parent-content .descendent-pr1{
  width: 250px;
  height: inherit;
  background-color: blue;
  flex:2; 
}

.content .parent-content .descendent-pr2{
  width: 250px;
  height: inherit;
  background-color: rebeccapurple;
  flex:1;
}