.naverhead .head{
  width: 100%;
  height: 300px;
  background-color: orange;
}

.naverhead .head .sub-head {
  width: 3000px;
  height: inherit;
  background-color: bisque;
  margin-left: 0;
  margin: 0 auto;
}

.content .parent-content {
  width: 3000px;
  height: 100vh;
  background-color: aqua;
  margin: auto;
  display: flex;
  justify-content: center;
}

.descendent-pr1{
  width: 250px;
  height: inherit;
  background-color: blue;
  flex:2; 
}

.descendent-pr2{
  width: 250px;
  height: inherit;
  background-color: rebeccapurple;
  flex:1;
}

.joinmembership{
  width: 900px;
  height: 600px;
  margin: 50px;
  border-radius: 15px;
  background-color: white;
  font-size: 35px;
}

.joinmembership p{
  text-align: center;
  line-height: 60px;
  
}

.joinmembership button{
  width: 850px;
  height: 100px;
  margin: 20px;
  background-color: green;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  
}